---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import logoDefault from "../assets/logoDefault.png";
import { gradientButtonClass } from "../helpers/constants";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<!-- class="h-full w-full bg-linear-to-b from-[#1B262E] to-[#577A94] flex flex-col items-center justify-between p-10" -->
<Layout>
  <main
    class="h-full w-full bg-linear-to-b from-[#1B262E] to-[#577A94] grid grid-cols-1 gap-4 px-6 py-16"
  >
    <section class="flex flex-col items-center justify-center">
      <Image src={logoDefault} alt="Logo default" />
    </section>
    <section class="flex flex-col justify-end">
      <div class="pb-6">
        <h1 class="text-white font-normal text-3xl leading-8">
          Menú interactivo.
        </h1>
        <h1 class="text-white font-normal text-3xl leading-8">
          Vive la experiencia haciendo tu pedido.
        </h1>
      </div>
      <div>
        <p class="text-gray-400 pb-3 leading-5">
          Puedes agregar los participantes de la mesa con el fin de dividir el
          pedido al final. Ten un mayor control asignando los platos a cada
          participante.
        </p>
        <p class="text-gray-400 leading-5">
          Si no quieres dividir, puede solo agregar un participante en la
          siguiente pantalla.
        </p>
      </div>
      <a
        href="participants-option"
        type="button"
        class=`${gradientButtonClass} mt-16`>Comenzar</a
      >
    </section>
  </main>
</Layout>
